extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(3000)
    +alert-success(3000)

    if (product.title)
        h1.mb-4 #{product.title}
    if (product.price)
        .mb-4 Giá: <b>#{product.price}$</b>
    if (product.discountPercentage)
        .mb-4 Giảm giá: <b>#{product.discountPercentage}%</b>
    if (product.stock)
        .mb-4 Còn lại: <b>#{product.stock}</b>

    if (product.thumbnail)
        .mb-4
            img(
                src=product.thumbnail
                alt=product.title 
                style="width: 100px"
            )
    
    if (product.status)
        .mb-4 
            p Trạng thái:    
            if (product.status === "active")
                span.badge.text-bg-success Hoạt động
            else 
                span.badge.text-bg-danger Dừng hoạt động
    
    if (product.position)
        .mb-4 Vị trí: <b>#{product.position}</b>
    if (product.description)
        .mb-4
            h4 Mô tả sản phẩm
        .mb-4 !{product.description}
    
    a.btn.btn-warning.me-3(
        href=`${prefixAdmin}/products/edit/${product._id}`
    ) Sửa sản phẩm

    a.btn.btn-secondary(href=`${prefixAdmin}/products`) Trở lại

    script(src="/admin/js/products.js")