include ../mixins/sub-menu.pug

header.header
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.svg", alt="logo")
            .col-5 
                form(
                    action="/search"
                    meth="GET"
                )
                    .mb-0.d-flex
                        input.form-control(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            name="keyword"
                            value=keyword
                        )
                        button.btn.btn-primary(
                            type="submit"
                        ) Tìm
            .col-4
                .inner-menu
                    ul 
                        li
                            a(href="/") Trang chủ
                        li.sub-menu
                            - const pathProduct = "/products";
                            a(href=`${pathProduct}`) Sản phẩm
                            +sub-menu(layoutProductsCategory, pathProduct) 