mixin form-change-multi(path, page)
    form(
        action=path
        method="POST"
        form-change-multi
    )
        .d-flex.align-items-start 
            .mb-3 
                select.form-select(name="type")
                    option(disabled selected) Chọn hành động
                    if (page === "pageDustbin")
                        option(value="restore-all") Khôi phục tất cả
                        if (role.permissions.includes("dustbins_delete"))
                            option(value="delete-all") Xóa vĩnh viễn tất cả
                    else if (page === "pageAccount")
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                        if (role.permissions.includes("accounts_delete"))
                            option(value="delete-all") Xóa tất cả
                    else if (page === "pageProduct")
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                        if (role.permissions.includes("products_delete"))
                            option(value="delete-all") Xóa tất cả
                        option(value="change-position") Thay đổi vị trí
                    else if (page === "pageProductCategory")
                        option(value="active") Hoạt động
                        option(value="inactive") Dừng hoạt động
                        if (role.permissions.includes("products-category_delete"))
                            option(value="delete-all") Xóa tất cả
                        option(value="change-position") Thay đổi vị trí
            .mb-3
                input.form-control.d-none(
                    type="text"
                    name="ids"
                    value=""
                )
            button.btn.btn-primary.ms-3(type="submit") Áp dụng