extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/sort.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/table-tree.pug

block main
    +alert-success(2000)

    h1.mb-3 Danh mục sản phẩm

    .card.mb-3
        .card-header Bộ lọc và tìm kiếm 
        .card-body.row
            .col-6
                +filter-status(filterStatus)
            .col-6 
                +search(keyword)

    .card.mb-3 
        .card-header Sắp xếp 
        .card-body 
            .row
                .col-4 
                    +sort()

    .card.mb-3
        .card-header Danh sách 
        .card-body 
            .row
                .col-8
                    +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
                .col-4
                    a.btn.btn-outline-success(
                        href=`${prefixAdmin}/products-category/create`
                    ) + Thêm mới

            table.table.table-hover.table-sm.mt-3(
                checkbox-multi
            )
                thead
                    tr
                        th
                            input(type="checkbox" name="checkAll") 
                            label.ms-1 Chọn tất cả
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody
                    +table-tree(records)

    form#form-change-status(
        action="",
        method="POST"
        data-path=`${prefixAdmin}/products-category/change-status`
    ) 