extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

block main
    +alert-success(2000)
    
    h1 Thùng rác

    .card.mb-3
        .card-header Danh sách
        .card-body            
            table.table.table-hover.table-sm(
                checkbox-multi
            )
                thead
                    tr
                        th
                            input(type="checkbox" name="checkAll") 
                            label.ms-1 Chọn tất cả
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody
                    each item, index in products
                        tr
                            td
                                input(type="checkbox" name="id" value=item.id)
                            td #{index + 1}
                            td
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="100px"
                                    height="100px"
                                    object-fit="contain"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td #{item.position}
                            td  
                                if (item.status === "active")
                                    a.badge.text-bg-success.text-decoration-none(
                                        href="javascript:;"
                                        data-id=item.id
                                        data-status=item.status
                                        button-change-status
                                    ) Hoạt động
                                else
                                    a.badge.text-bg-danger.text-decoration-none(
                                        href="javascript:;"
                                        data-id=item.id
                                        data-status=item.status
                                        button-change-status
                                    ) Dừng hoạt động
                            td
                                button.btn.btn-warning.btn-sm(
                                    btn-restore 
                                    data-id=item.id
                                ) Khôi phục
                                button.btn.btn-danger.btn-sm.ms-2(
                                    btn-delete
                                    data-id=item.id
                                ) Xóa vĩnh viễn
    
    +pagination(pagination)

    form#form-delete-item(
        action="",
        method="POST"
        data-path=`${prefixAdmin}/dustbin/delete`
    )

    form#form-restore-item(
        action="",
        method="POST"
        data-path=`${prefixAdmin}/dustbin/restore`
    )

    script(src="/admin/js/dustbin.js")