extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3 
        .row
            .col-12 
                +box-head(pageTitle)
        if (user)
            .row
                .col-12
                    if (user.fullName)
                        .mb-4 Tên tài khoản: <b>#{user.fullName}</b>
                    if (user.email)
                        .mb-4 Email: <b>#{user.email}</b>
                    if (user.phone)
                        .mb-4 Số điện thoại: <b>#{user.phone}</b>
                    if (user.avatar)
                        .mb-4
                            img(
                                src=user.avatar
                                alt=user.fullName 
                                style="width: 200px"
                            )
                    
                    if (user.status)
                        .mb-4 
                            p Trạng thái:    
                            if (user.status === "active")
                                span.badge.text-bg-success Hoạt động
                            else 
                                span.badge.text-bg-danger Dừng hoạt động
        else 
            p Bạn phải đăng nhập mới xem được thông tin!