extends ../../layouts/default.pug

block main 
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1.text-center Đăng nhập tài khoản 
                form.needs-validation(
                    action=`/user/login`
                    method="POST"
                    novalidate
                )
                    .mb-3 
                        label.form-label(for="email") Email
                        input.form-control#email(
                            type="text"
                            name="email"
                            required
                        )
                        .valid-feedback Looks good!
                        .invalid-feedback Please provide a email.
                    .mb-3 
                        label.form-label(for="password") Mật khẩu
                        input.form-control#password(
                            type="password"
                            name="password"
                            required
                        )
                        .valid-feedback Looks good!
                        .invalid-feedback Please provide a password.
                    .mb-3.d-grid
                        button.btn.btn-primary(
                            type="submit"
                        ) Đăng nhập

    script(src="/js/user.js")