extends ../../layouts/default.pug

block main 
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1.text-center Nhập mã OTP
                form.needs-validation(
                    action=`/user/password/otp`
                    method="POST"
                    novalidate
                )
                    .mb-3 
                        label.form-label(for="email") Email
                        input.form-control#email(
                            type="text"
                            name="email"
                            value=email
                            required
                            readOnly
                        )
                        .valid-feedback Looks good!
                        .invalid-feedback Please provide a email.
                    .mb-3 
                        label.form-label(for="otp") Mã OTP
                        input.form-control#otp(
                            type="text"
                            name="otp"
                            required
                        )
                        .valid-feedback Looks good!
                        .invalid-feedback Please provide a otp.
                    .mb-3.d-grid
                        button.btn.btn-primary(
                            type="submit"
                        ) Xác nhận

                div#countdown
                    span#minutes 03
                    | :
                    span#seconds 00
                    button.btn.text-primary.d-none#resendOTPBtn(
                        type="button"
                    ) Gửi lại mã OTP
            
    script(src="/js/user.js")