extends ../../layouts/default.pug

block main 
    .container.my-5 
        .row.justify-content-center 
            .col-8 
                h1.text-center Đổi mật khẩu
                form.needs-validation(
                    action=`/user/password/reset`
                    method="POST"
                    novalidate
                )
                    .mb-3 
                        label.form-label(for="password") Mật khẩu mới
                        input.form-control#password(
                            type="password"
                            name="password"
                            required
                        )
                        .valid-feedback Looks good!
                        .invalid-feedback Please provide a new password.
                    .mb-3 
                        label.form-label(for="confirmPassword") Xác nhận mật khẩu
                        input.form-control#confirmPassword(
                            type="password"
                            name="confirmPassword"
                            required
                        )
                        .valid-feedback Looks good!
                        .invalid-feedback Please provide a confirm password.
                    .mb-3.d-grid
                        button.btn.btn-primary(
                            type="submit"
                        ) Đổi mật khẩu
            
    script(src="/js/user.js")