extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3 
        .row 
            .col-12 
                +box-head("Giỏ hàng")
        
        .row 
            .col-12 
                table.table.table-bordered 
                    thread
                        tr 
                            th STT
                            th Ảnh
                            th Tên
                            th Giá
                            th Số lượng
                            th Tổng tiền
                            th Hành động
                    tbody
                        if (cartDetail.products.length > 0)
                            each item, index in cartDetail.products
                                tr
                                    td #{index + 1}
                                    td 
                                        img(
                                            src=item.productInfo.thumbnail
                                            atl=item.productInfo.title
                                            width="100px"
                                        )
                                    td 
                                        a(
                                            href=`/products/detail/${item.productInfo.slug}`
                                        ) #{item.productInfo.title}
                                    td #{item.productInfo.priceNew}$
                                    td 
                                        input(
                                            type="number"
                                            name="quantity"
                                            value=item.quantity
                                            min="1"
                                            product-id=item.product_id
                                            style="width: 60px"
                                        )
                                    td #{item.totalPrice}$
                                    td
                                        a.btn.btn-danger(
                                            href=`/cart/delete/${item.product_id}`
                                        ) Xóa
                        else 
                            p Không có sản phẩm trong giỏ hàng
            h3.text-end Tổng đơn hàng: #{cartDetail.totalPrice}$
            .text-end.mt-3 
                a.btn.btn-success(
                    href=`/checkout`
                ) Thanh toán

    script(src="/js/cart.js")